.attraction-card {
  .ant-card-body {
    padding: 12px !important;
  }
}

.attraction-card {
  width: 300px;
  border-radius: 8px;
}

.attraction-card-photo {
  width: 150px;
  height: 160px;
  object-fit: cover;
  cursor: grab;
}

.attraction-card-title,
.attraction-card-address,
.attraction-card-rating,
.attraction-card-note,
.attraction-card-time {
  width: 100%;
}

.attraction-card-time-picker,
.attraction-card-note-textarea {
  width: 75%;
  margin-top: 8px;
}
