.chatbox {
  width: 400px;
  height: 400px;
  background-color: white;
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1;
  border-radius: 16px;
}

.chatbox_header {
  width: 100%;
  height: 48px;
  border-radius: 16px 16px 0px 0px;
  background-color: #2894ff;
  padding-left: 16px;
}

.chatbox_title {
  color: white;
  font-weight: bold;
}

.chatbox_content {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 12px;
}

.chatbox_footer {
  width: 100%;
  min-height: 48px;
  border-top: 1px solid #9c9c9c;
  padding: 0px 8px;
}

.chatbox_input {
  margin-right: 8px;
}

.chatbox_icon {
  font-size: 20px;
}

.chatbox_content_box {
  width: 100%;
}

.chatbox_bot_image_box {
  width: 36px;
  height: 36px;
  background-color: #2894ff;
  border-radius: 8px;
}

.chatbox_bot_image {
  font-size: 20px;
  color: white;
}

.chatbox_bot_message,
.chatbox_user_message {
  width: 60%;
}

@media screen and (max-width: 575px) {
  .chatbox {
    width: 100%;
    height: calc(100vh - 64px);
    bottom: 0px;
    right: 0px;
    border-radius: 0px;
  }
}

@media screen and (max-height: 500px) {
  .chatbox {
    height: calc(100vh - 64px);
    top: 64px;
    right: 0px;
  }
}
