.explore {
  width: 100%;
  height: calc(100vh - 64px);
}

.explore_loading {
  background-color: #f5f5f5;
}

.explore_loading_box {
  width: 100%;
  height: 100%;
}

.explore_chatbox_button,
.explore_collection_button {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.explore_chatbox_button {
  inset-inline-end: 100px;
}
