.home {
  width: 100%;
  min-height: 100%;
}

.home_search_box {
  width: 100%;
  height: 80px;
}

.home_search {
  width: 650px;
}

.home_title {
  width: 100%;
  padding: 12px 0px 12px 128px;
}

@media screen and (min-width: 768px) and (max-width: 991px)  {
  .home_search {
    width: 500px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .home_search {
    width: 350px;
  }
}

@media screen and (max-width: 575px) {
  .home_search {
    width: 250px;
  }
}
