.place_card {
  width: 330px;
  height: 305px;
  margin-top: 12px;
  border-radius: 8px;
}

.place_card_photo {
  width: 150px;
  height: 160px;
  object-fit: cover;
}

.place_card_rating,
.place_card_footer {
  margin-top: 8px;
}
