.plan-list {
  width: 300px;
  height: calc(100vh - 64px);
  position: absolute;
  top: 64px;
  left: 0px;
  background-color: white;
  z-index: 1;
}

.plan-list-header {
  width: 300px;
  height: 64px;
  padding-left: 24px;
  padding-right: 36px;
  position: fixed;
  z-index: 2;
  background-color: #2894ff;
}

.plan-list-title {
  color: white;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plan-list-close-button {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 16px;
  cursor: pointer;
}

.plan-list-content {
  width: 100%;
  overflow-y: auto;
  margin-top: 64px;
}

.plan-list-button-box {
  width: 100%;
  padding: 0px 12px;
}

.plan-list-button {
  width: 100%;
  height: 48px;
}

@media screen and (max-width: 575px) {
  .plan-list,
  .plan-list-header {
    width: 100%;
  }
}
