.plan-detail {
  width: 400px;
  height: calc(100vh - 64px);
  position: absolute;
  background-color: white;
  z-index: 2;
}

.plan-detail-header {
  width: 400px;
  height: 64px;
  padding-left: 24px;
  padding-right: 36px;
  position: fixed;
  border-bottom: 2px solid #d6d6d6;
  z-index: 3;
}

.plan-detail-title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plan-detail-close-button {
  font-size: 20px;
  position: absolute;
  left: 16px;
  cursor: pointer;
}

.plan-detail-content {
  width: 100%;
  overflow-y: auto;
  margin-top: 64px;
}

.plan-detail-attraction-list {
  width: 100%;
}
