.profile {
  .profile_form {
    width: 640px;
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .profile_form {
      width: 480px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .profile_form {
      width: 320px;
    }
  }
  
  @media screen and (max-height: 767px) {
    .profile_form {
      padding-top: 30px;
    }
  }
}
