.trip_tab_list {
  width: 100%;
  padding: 12px 0px;
}

.trip_tab_list_button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.trip_tab_list_button_active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 575px) {
  .trip_tab_list_button,
  .trip_tab_list_button_active {
    font-size: 14px;
  }
}
