.trip_list {  
  width: 1184px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .trip_list {
    width: 888px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .trip_list {
    width: 592px;
  }
}

@media screen and (max-width: 767px) {
  .trip_list {
    width: 296px;
  }
}
