.trip_edit {
  width: 100%;
  height: calc(100vh - 64px);
}

.trip_edit_chatbox_button,
.trip_edit_collection_button {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.trip_edit_collection_button {
  inset-inline-end: 100px;
}