.trip-edit-modal {
  .ant-upload {
    width: 100% !important;
    height: 250px !important;
  }
}

.trip-edit-modal-tags {
  margin-top: -8px;
}

.trip-edit-modal-publish-button {
  color: white;
  background-color: blue;
}
