.tripSettingDialog {
  width: 100%;
  height: 100%;
}

.tripSettingDialog::-webkit-scrollbar {
  display: none;
}

.tripSettingDialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.tripSettingDialog-title{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.tripSettingDialog-content{
  width: 100%;
  height: 400px;
  line-height: 30px;
  background-color: #ffffff;
}

.tripSettingDialog-content-hashtagList{
  display: flex;
  width: 100%;
  height: 100px;
  padding: 10px;
  z-index: 3;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.tripSettingDialog-footer{
  display: flex;
  bottom: 0;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: right;
  gap: 5px;
  background-color: #ffffff;
}
