.Result {
    position: absolute;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
}

.Result-content {
    display: flex;
    margin-top: 20px;
    row-gap: 10px;
    align-items: center;
}

@media(max-width: 1400px) {
    .Result-content {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .Result-content {
        width: 100%;
    }
}


@media(max-width: 992px) {
    .Result-content {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .Result-content {
        width: 100%;
    }
}

@media(max-width: 576px) {
    .Result-content {
        width: 100%;
    }
}

