/* .ViewpointExplore {

  position: absolute;
  height: 100%;
  width: 100%;

  .header{
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    background-color: white;
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;

    .map{
      height: 100%;
      width: 100%;
    }  

    .searchBox {
      position: absolute;
      left: 50%;
      top: 50px;
      transform: translate(-50%, 50%);
      display: flex;
      z-index: 1;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      background-color: #c5f2ff;
  
      .catoeryItem{
        display: flex;
        justify-content: flex-start;
      }
  
    }

    .placeDetail{
      position:fixed;
      display: none;
      top: 60px;
      left: 0;
      width: 350px;
      height: 100%;
      z-index: 2;
      overflow: auto;
      border-radius: 0 10px 10px 0;
      background-color: #FFFFFF;
  
      .header{
  
        border-radius: 0 10px 0 0;
        display: flex;
        position: fixed;
        width: 350px;
        height: 50px;
        z-index: 3;
        padding-right: 10px;
        background-color: #2894FF;
  
        .displayName{
          color: #FFFFFF;
          max-width:'250px';
          margin: auto;
        }
        
        .close{
          color: #FFFFFF;
        }
  
        .close:hover{
          color: #383434;
        }
  
      }
  
      .content{
        position: relative;
        top: 50px;
        height: 100%;
      }
  
      .bottom{
        bottom: 0;
        width: 350px;
        display:flex;
        position: fixed;
        background-color: #FFFFFF;
        border-radius: 0 0 10px 0;
        padding: 10px;
        justify-content: flex-end;
        gap: 10px;
        border-top:1.5px solid #949494;
      }  
      
    }
    
    .placeDetail::-webkit-scrollbar {
      display: none;
    }

  }
   
}*/

/* .ViewpointExplore {
  position: absolute;
  height: calc(100% - 64px) ;
  width: 100%;
} */

/* .ViewpointExplore-header{
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  padding: 0;
  display: flex;
  background-color: white;
} */

/* .ViewpointExplore-content {
  position: absolute;
  height: 100%;
  width: 100%;
} */

/* .ViewpointExplore-map{
  height: 100%;
  width: 100%;
}

.ViewpointExplore-searchBox {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 50%);
  display: flex;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #c5f2ff;
}

.ViewpointExplore-searchBox-catoeryItem {
  display: flex;
  justify-content: flex-start;
}

.ViewpointExplore-placeDetail{
  position:fixed;
  display: none;
  top: 60px;
  left: 0;
  width: 350px;
  height: 100%;
  z-index: 2;
  justify-content: center;
  overflow: auto;
  border-radius: 0 10px 10px 0;
  background-color: #FFFFFF;
  
}

.ViewpointExplore-placeDetail::-webkit-scrollbar {
  display: none;
}

.ViewpointExplore-placeDetail-header{
  border-radius: 0 10px 0 0;
  display: flex;
  position: fixed;
  width: 350px;
  height: 50px;
  z-index: 3;
  align-items: center;
  justify-content: center;
  background-color: #2894FF;
}

.ViewpointExplore-placeDetail-header-displayName{
  color: #FFFFFF;
  max-width: 300px;
  text-align: center;
}

.ViewpointExplore-placeDetail-header-close{
  position: absolute;
  top:50%;
  transform: translate(0%, -50%);
  right: 10px;
  color: #FFFFFF;
}

.ViewpointExplore-placeDetail-header-close:hover{
  color: #383434;
}

.ViewpointExplore-placeDetail-content{
  position: relative;
  top: 50px;
  height: 100%;
  width: 100%;
}

.ViewpointExplore-placeDetail-bottom{
  bottom: 0;
  width: 350px;
  display:flex;
  position: fixed;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 0;
  padding: 10px;
  justify-content: flex-end;
  gap: 10px;
  border-top:1.5px solid #949494;
} */